@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #181818;
	--dark-color-b: #181818;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #2e2c2c;

}
.chat-messages{
	background: #3f3d3d;
}


ul {
	list-style: none;
}

a {
	text-decoration: none;
}
.posbot{
	font-size: 30px;
}
.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	width: 98%;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
	
}
.open{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height: 80vh;
	background: #3f3d3d;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}
.imggg{
	width: 50px;
	padding: 5px;
	background-color: #e6e9ff;
	border-radius: 40%;
	margin-right: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 100%;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	
		background: #5690db;
	
	border-radius: 5px 40px 5px  ;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
	display: flex;
	justify-content: end;
}

.chat-form-container form {
	width: 76%;
	display: flex;
}

@media (max-width:700px){
	.chat-form-container form {
		width: 100%;
		display: flex;
	}
}
@media (max-width:500px){
	.chat-form-container {
		padding: 4px 4px;
		background: #3f3d3d;
		display: flex;
		justify-content: end;
	}
}
.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}
h1{
	cursor: pointer;
}
.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}
.d-flex{
	display: flex;
	
}
.close{
	padding-left: 40%;
	display: none;
}
@media (max-width: 700px) {
	.chat-main {
		display: block;
	}
	.close{
		padding-left: 40%;
		display: block;
	}
	.chat-sidebar {
		width: 100%;
		position: absolute;
		left: -100%;
		transition: 400ms;
	}
}
